<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blog</title>
	<meta name="description" content="">  
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">

	    <!-- Bootstrap core CSS-->


   <!-- Script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="top">

   	<div class="row">

   		<div class="header-content twelve columns">

		      <h1 id="logo-text"><a href="/" title="">Blogging App</a></h1>
				<p id="intro">express your ideas </p>

			</div>			

	   </div>

	   <nav id="nav-wrap"> 

	   	<a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
		   <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

	   	<div class="row">    		            

			   	<ul id="nav" class="nav">

		        {% block body %}{% endblock %}
				<!-- Main Body parts hold in each page  -->


   		</div> <!-- end main -->

   		<div id="sidebar" class="four columns">

   			<!--<div class="widget widget_search">-->
                  <!--<h3>Search</h3> -->
                  <!--<form action="#">-->

                     <!--<input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">-->
                     <!--<input type="submit" value="" class="submit-search">-->

                  <!--</form>-->
               <!--</div>-->

   			<div class="widget widget_categories group">

   				<h3>Categories.</h3>
				{% for category in category %}
   				<ul>
						<li><a href="/post/{{category[0]}}">{{category[0]}}</a></li>

					</ul>
				{% endfor %}
				</div>


   			<div class="widget widget_tags">
               <h3>Post Tags.</h3>

               <div class="tagcloud group">
                	<a href="#">Corporate</a>
                  <a href="#">Onepage</a>
                  <a href="#">Agency</a>
                  <a href="#">Multipurpose</a>
                  <a href="#">Blog</a>
                  <a href="#">Landing Page</a>
                  <a href="#">Resume</a>
               </div>
                  
            </div>

            <!--<div class="widget widget_popular">-->
               <!--<h3>Popular Post.</h3>-->

               <!--<ul class="link-list">-->
                  <!--<li><a href="#">Sint cillum consectetur voluptate.</a></li>-->
                  <!--<li><a href="#">Lorem ipsum Ullamco commodo.</a></li>-->
                  <!--<li><a href="#">Fugiat minim eiusmod do.</a></li>                     -->
               <!--</ul>-->
                  <!---->
            <!--</div>-->
   			
   		</div> <!-- end sidebar -->

   	</div> <!-- end row -->

   </div> <!-- end content-wrap -->
   

   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row"> 

      	<div class="twelve columns">	
				<ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>               
               <li><a href="#"><i class="fa fa-github-square"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-flickr"></i></a></li>               
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>			
      	</div>
      	
      <div class="eight columns info">

            <h3>About Blogging App</h3>

            <p>This is IS 211 - Final Project and  blogging app developed using python, HTML, CSS, Bootstrap & Javascript.
                Blog layout is sourced from <a href="https://www.styleshout.com/free-templates/">Styleout </a> and modified by Sanam Maharjan.
            </p>

            <p>In this app, only registerd user are allowed to post
                and manage the blog. Please check <a href="/login">login page</a> to register and login to admin dashboard.
            Users are allowed to view the post and comment it once they click on the post and view it individually.</p>
             <p><blockquote> Two user accounts are created for testing purpose:</p>
             <p><strong><li>Username/Password</strong>: leo/leo</li>
               <li><strong>username/Password</strong>: sanam/sanam</blockquote></li></p>

         </div>


         <div class="two columns">
            <h3 class="social">Navigate</h3>

            <ul class="navigate group">
               <li><a href="/">Home</a></li>
               <li><a href="/login">Login</a></li>
             </ul>
         </div>

         <p class="copyright">&copy; Copyright <a href="https://www.linkedin.com/in/sanammaharjan/">Sanam Maharjan</a> | IS211 Blogging APP </p>
        
      </div> <!-- End row -->

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

   </footer> <!-- End Footer-->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"><\/script>')</script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>