{% extends "template.html" %}
{% block body %}
<!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/post">Post</a></li>
            <li class="breadcrumb-item active">Post: Edit</a></li>

        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Articles | <a href="/admin/post/new" >Add New </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        </thead>
                        <tbody>
                        <form action="/admin/post/update" method=post>
                            {% for post in postedit %}
                            <div><span>Title </span><span><input type="text" name="title" value="{{ post.title }}" ></span></div>
                            <div><span>Visibility </span><span>
                                <select name="visi">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </span></div>
                            <div><span>Category </span><span><input type="text" name="category" value="{{ post.category }}"></span></div>
                            <div><span>Content </span><span><textarea rows="4" cols="50" name="content">{{ post.body }}</textarea></div>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <div><span><input type="submit" value="Update"></div>
                        </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>



{% endblock %}
